<div class="jumbotron">

  <img class="align-content-center" src="../assets/images/amirali-mirhashemian-pucP6jZSyV4-unsplash.jpg">
  <div class="display-4 text-center">
    Eat-Da-Burger!
  </div>

</div>>

<div class="container m-5">
  <div class="row">
    <div class="col-4">
      <h3>Burgers on the menu</h3>
      <table>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
      </table>

    </div>

    <div class="col-2">
      &nbsp; 
    </div>

    <div class="col-4">
      <!-- for devoured burgers -->
      <h3>Burgers already eaten</h3>
      <table>

        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/if}}
        {{/each}}

      </table>
    </div>

  </div>
</div>

<p></p>
<div class="container m-5">
  <div class="row">
    <div class="col-6 justify-content-center">

      <form class="create-form">

        <input type="textarea" name="name" id="newBurger" placeholder="Burger Name"><br>
        <button class="mt-2 btn btn-outline-dark" type="submit">Submit</button>

      </form>
      <h5>Add new burger to menu</h5>
    </div>

  </div>
</div>