<div class="jumbotron">

  <img align="center" src="../public/assets/images/amirali-mirhashemian-pucP6jZSyV4-unsplash.jpg">
  <div class="display-4">
    Eat-Da-Burger
  </div>

</div>>

<div class="container">
  <div class="row">
    <div class="col-4">
      <h3>Burgers on the menu</h3>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
      </ul>

    </div>

    <div class="col-2">
      <!-- for devour buttons -->
    </div>

    <div class="col-4">
      <!-- for devoured burgers -->
      <ul>
        {{#each burger}}
        {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>

  </div>
</div>



<form class="create-form">

    <input type="textarea" name="name">   
    <button type="submit">Submit</button>

</form>
<h5>Add a new Burger</h5>