<div class="jumbotron">
  <div class="display-4 text-center">
  <img class="shadow" src="../assets/images/amirali-mirhashemian-pucP6jZSyV4-unsplash.jpg">
    Eat-Dat-Burger!
  </div>

</div>>

<div class="container m-3">
  <div class="row justify-content-around">
    <div class="col-4">
      <h3>Burgers on the menu</h3>
      <table>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
      </table>

    </div>

    <div class="col-2">
      &nbsp; 
    </div>

    <div class="col-4">
      <!-- for devoured burgers -->
      <h3>Burgers already eaten</h3>
      <table>

        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/if}}
        {{/each}}

      </table>
    </div>

  </div>
</div>

<p></p>
<div class="container m-3">
  <div class="row justify-content-center">
    <div class="col-4 mt-4">

      <h5 class="justify-content-center">Add new burger to menu</h5>
      <form class="create-form justify-content-center">

        <textarea  rows="2" cols="40" name="name" id="newBurger" placeholder="Burger Name"></textarea><br>
        <button class="mt-2 btn btn-outline-dark mx-center" type="submit">Submit</button>

      </form>
    </div>

  </div>
</div>