td {
  padding: 5px;
  margin: 5px;
  background: #fafafa;
}

body {
  background: antiquewhite !important;
}

.btn { 
  background: #f0f0f0 !important; 
}


img { 
  height: 200px; 
  width: 300px;  
}

.jumbotron { 
  background-color: #eae9e7 !important;
  font-weight: bolder;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
